{% extends "base.html" %}
{% block submits %}
    {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
    {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Register</a>
            <a class="btn btn-success" href="/login">Log in</a>
        </p>
    {% endif %}
{% endblock %}
{% block content %}
  <h1 class="name-form">{{ name }}</h1>
  <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      {% for field in form if field.name not in ['csrf_token', 'submit'] %}
          {% if field.name == 'remember_me' %}
             <p>{{ field.label }}
             {{ field }}<br>
             {% for error in field.errors %}
             <div class="alert alert-danger" role="alert">
             {{ error }}
             </div>
             {% endfor %}
          {% else %}
              </p>
                  <p>
                  {{ field.label }}<br>
                  {{ field(class="form-control") }}<br>
                  {% for error in field.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
                  {% endfor %}
                  </p>
          {% endif %}
      {% endfor %}
      <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
      <p style="color: rgb(220, 10, 30)">{{ message }}</p>
  </form>
{% endblock %}